body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

body {
    background-color: rgb(225,225,225);
}

#cabecalho-home {
    background-color: rgb(34,74,204);
    pointer-events: none;
}

#cabecalho-home h1 {
    color: rgb(255,255,255);
    margin-left: 20px;
}

#menu-cabecalho {
    background-color: rgb(23,42,108);
}

#menu-cabecalho p {
    color: rgb(255,255,255);
    margin-left: 20px;
}

main {
    margin: 20px;
}

footer {
    background-color: rgb(23,42,108);
}

footer h6 {
    color: rgb(255,255,255);
    font-family: Roboto Condensed Regular;
    text-align: center;
    font-size: 14px;

}

@font-face {
    font-family: Roboto Condensed Regular;
    src: url('RobotoCondensed-Regular.ttf') format('truetype');
}