#cabecalho {
    background-image: src('files/media/img/ouvidoria/banner.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px, 800px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 0;
    text-align: center;
    background-size: 100%;
    pointer-events: none;
}

#cabecalho h1 {
    color: rgb(255,255,255);
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgb(27,27,27);
}
