#cabecalho {
    background-image: url(https://kaikerochas.github.io/sms/files/media/img/sobre/banner-sobre.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 0;
    text-align: center;
    background-size: 100%;
    pointer-events: none;
}

#cabecalho h1 {
    color: rgb(255,255,255);
    font-size: 60px;
    font-family: Lato, sans-serif;
    text-shadow: 2px 2px 5px rgb(27,27,27);
}

#mapa {
    padding-bottom: 20px;
}

main hr {
    height: 2px;
    background: rgb(27, 27, 27);
    padding: 0;
    margin-bottom: 10px;
}

main img {
    pointer-events: none;
}

main{
    margin-top: 20px;
    margin-bottom: 20px;
}

#coluna1-corpo {
    padding: 0;
    margin-left: 0;
    width: 49%;
    float: left;
}

#coluna2-corpo {
    padding: 0;
    width: 49%;
    float: right;
}

main:after {
    content: "";
    display: table;
    clear: both;
}

P {
    text-align: justify;
}