.corpo2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#coluna-acesso-rapido {
    flex: 50%;
    padding: 0 3.5px;
    float: left;
}

#coluna-acesso-rapido img {
    width: 20rem;
}

#coluna-acesso-rapido:after {
    content: "";
    display: flex;
    clear: both;
}

.corpo2:after {
    content: "";
    display: table;
    clear: both;
}

#botao-acesso-rapido1 {
    width: 25%;
}

#botao-acesso-rapido2 {
    width: 25%;
}

#botao-acesso-rapido3 {
    width: 25%;
}
