.corpo3{
    margin-top: 20px;
    margin-bottom: 20px;
}

#coluna1-corpo3 {
    width: 49%;
    float: left;
}

#coluna2-corpo3 {
    width: 49%;
    float: right;
}

#coluna-noticias-home {
    background-color: rgb(235,235,235);
}

#conteudo-coluna-noticias-home {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#barra-noticias {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 0.5rem;
    background-color: rgb(208,33,62);
    color: rgb(255,255,255);
}

.corpo3:after {
    content: "";
    display: table;
    clear: both;
}

#botao-acesso-rapido1 {
    width: 400px;
    height: 70px;
    background-color: rgb(235,235,235);
    color: rgb(20,20,20);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 54.5px;
}

#botao-acesso-rapido2 {
    width: 400px;
    height: 70px;
    background-color: rgb(235,235,235);
    color: rgb(20,20,20);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 54.5px;
}

#botao-acesso-rapido3 {
    width: 400px;
    height: 70px;
    background-color: rgb(235,235,235);
    color: rgb(20,20,20);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
}